
:root {
  --clr-white: #FFFFFF;
  --clr-darkslate: #1E201E;
  --clr-dimgray: #3C3D37;
  --clr-olive: #697565;
  --clr-beige-200: #ECDFCC;
  --clr-beige-50: #EAE4DD;

  --ff-main: 'Outfit', sans-serif;
  --ff-headings: 'Young Serif', serif;

  --fs-main: 1rem;
  --fs-headings: 1.75rem;
  --fw-400:400;
  --fw-600:600;
  --fw-700:700;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--ff-main);
  font-weight: var(--fw-400);
  font-size: var(--fs-main);
  line-height: 1.5;
  background: var(--clr-darkslate);
  color: var(--clr-beige-200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

